# Copy this file as .env.local for local development.
# Do NOT upload .env.local to GitHub.

MONGODB_URI="mongodb+srv://dexterlambbb_db_user:<PASSWORD>@cluster0.wdrok43.mongodb.net/pos_system?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB="pos_system"
